



*{
  
  color: rgb(17, 17, 17);
  
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2825, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navi{
  background: none !important;
}
.nav-item{
  background-color: rgba(17, 16, 16, 0.062);
}

.navbar{
  color: white;
position: fixed;
  top: 0;
  background-color: rgba(17, 16, 16, 0.589);
}

.navbar-brand {
  font-size: 36px;
  background: none;
  color: rgb(80, 139, 223); 
  text-shadow: 0 0 15px rgb(27, 169, 231); 
  animation: glow 2s infinite alternate;
}

.collapse{
  background: none;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px rgb(37, 16, 222); 
  }
  to {
    text-shadow: 20 10 10px rgb(202, 201, 223); 
  }
}
.dropdown-item:hover{
  background:none;
}



.homi {
  overflow: hidden;
}

.home {
padding-top: 200px;
}

.back-image {
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  filter: brightness(0.4);
}

.gradient-overlay {
  background: linear-gradient(rgba(13, 181, 223, 0.575), rgba(10, 7, 185, 0.596));
  min-height: 100vh;
}

.learn {
  margin-top: 150px;
  z-index: 2;
}

.img-fluid {
  max-width: 100%;
  height: 450px;
  z-index: 2;
}

.navi {
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .homi {
    background-size: auto;
  }
  
  .img-fluid {
   display: none;
  }
  .learn {
    margin-top: 50px;
  }

  .navi {
    margin-top: 20px;
  }
}

@media screen and (max-width: 425px) {
  .homi {
    height: auto; /* Adjust height for smaller screens */
  }
  
  .img-fluid {
    display: none;
   }
  .learn {
    margin-top: 30px;
  }

  .navi {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .back-image {
    min-height: 100%; /* Set to 100% to handle smaller screens effectively */
  }
}

.hom {
  background: none;
}



/* sign Up */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}


.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

.card{
  border: none;
}

.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
