



*{
  background-color: #212529;
  color: white;
}
.navbar{
  color: white;
position: fixed;
  top: 0;
}

.navbar-brand {
  font-size: 36px; /* Adjust font size as needed */
  color: rgb(80, 139, 223); /* Initial text color */
  text-shadow: 0 0 15px rgb(27, 169, 231); /* Initial text shadow */
  animation: glow 1s infinite alternate; /* Adjust duration and animation as needed */
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px rgb(37, 16, 222); /* Initial text shadow */
  }
  to {
    text-shadow: 20 10 10px rgb(202, 201, 223); /* Final text shadow */
  }
}
.dropdown-item:hover{
  background:none;
}

/* .homi{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.761) 0%, rgba(0, 0, 0, 0.5) 100%), url("./src/assets/images/freemium.jpg"), lightgray 0px -65.191px / 100% 178.109% no-repeat;
  position: relative;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  
} */


.homi {
  position: relative;
  overflow: hidden;
  height: 60vh;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(27, 26, 26, 0.761) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
}
.learn{
  margin-top: 150px;
}


/* Your other styles for .hom, .container-fluid, .row, .col, etc. */

@media screen and (max-width: 768px) {
  .homi {
    background-size: auto; /* Adjust background size for smaller screens */
  }
  .learn{
    margin-top: 50px;
  }
  
}

@media screen and (max-width: 425px) {
  .homi {
    background-size: auto; /* Adjust background size for smaller screens */
  }
  .learn{
    margin-top: 50px;
  }
  
}

.hom {background: none;
      
}




/* MARQUEE CSS */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}




